In [1]:
import pyspark
from pyspark import SparkContext
sc = SparkContext("local", "First App")

In [19]:
from pyspark import SparkContext
sc = SparkContext("local", "First App")

from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("First App") \
    .getOrCreate()

In [20]:
spark

In [27]:
import pandas as pd
# ta onomata twn stilwn einai stin grammi 8
tour_data = pd.read_excel("tour_occ_ninat.xlsx",header=8)
tour_data.head()
# metatrepoume to arxeio se .csv - xwris tin arithmisi twn grammwn
tour_data.to_csv("tour_occ_ninat.csv",index=False)

,GEO/TIME,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Belgium,16039090,16271311,16360702,15451017,16169676,16723867,16432646,16511721,17068872,18852087
1,Bulgaria,11944694,12006786,11791454,9460922,10547112,12426723,13451440,14370426,14077798,13352281
2,Czech Republic,20090348,20610186,19987022,17746893,18365947,19424839,21793985,22144896,22110112,23286515
3,Denmark,9453026,9327579,8918197,8299403,8981992,9491137,9608124,9914273,10608119,11171416
4,Germany (until 1990 former territory of the FRG),52947373,54485379,56239679,54096574,59658760,63081467,68161503,71191942,74805253,78827773

In [4]:
data = pd.read_csv("tour_occ_ninat.csv")
data.head()

NameError: name 'pd' is not defined

In [21]:
# diavazoume to .csv arxeio
df = spark.read.option("header","true").load("tour_occ_ninat.csv",format='csv')
df.show()

+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|            GEO/TIME|     2006|     2007|     2008|     2009|     2010|     2011|     2012|     2013|     2014|     2015|
+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|             Belgium| 16039090| 16271311| 16360702| 15451017| 16169676| 16723867| 16432646| 16511721| 17068872| 18852087|
|            Bulgaria| 11944694| 12006786| 11791454|  9460922| 10547112| 12426723| 13451440| 14370426| 14077798| 13352281|
|      Czech Republic| 20090348| 20610186| 19987022| 17746893| 18365947| 19424839| 21793985| 22144896| 22110112| 23286515|
|             Denmark|  9453026|  9327579|  8918197|  8299403|  8981992|  9491137|  9608124|  9914273| 10608119| 11171416|
|Germany (until 19...| 52947373| 54485379| 56239679| 54096574| 59658760| 63081467| 68161503| 71191942| 74805253| 78827773|
|             Estonia|  3020367|  2915456|  2932662|  2740696|  3203721|  3748865|  3823039|  3909326|  3919299|  3770207|
|             Ireland| 21652000|        :|        :|        :|        :|        :| 11839245| 10871806| 11276424| 13462348|
|              Greece| 43055381| 48081473| 47973949| 57413304| 59184397| 65514230| 61054383| 68992640| 74675156| 78254524|
|               Spain|224518083|225450241|223756216|200551728|213349649|239369167|243389006|252447766|259635794|269418103|
|              France|105865432|108567043|106993811| 98705212|120390105|123227704|125038453|132251136|130908700|130464997|
|             Croatia| 32858014| 33701925| 33902735| 33357844| 33234882| 35389002| 57079967| 59378896| 61072661| 65683010|
|               Italy|156861341|163465680|161797434|159493866|165202498|176474062|180594988|184793382|186792507|192607930|
|              Cyprus| 13310257| 13197004| 13208954| 11666663| 12448158| 13112596| 13488127| 13152589| 12884399| 12550320|
|              Latvia|  1872393|  1935984|  2115618|  1699562|  1912336|  2257021|  2429093|  2639434|  2875934|  2873885|
|           Lithuania|  1514197|  1609998|  1626829|  1395899|  1571325|  1883003|  2680048|  2906201|  3033826|  3010727|
|          Luxembourg|  2399913|  2328688|  2249545|  2075831|  1717130|  2057883|  2298068|  2313124|  2513585|  2655733|
|             Hungary| 10045891| 10170808| 10009531|  9220148|  9358373|  9920339| 11392183| 11982883| 12351330| 12962395|
|               Malta|  7094031|  7749831|  7581137|  6550794|  7208295|  7361449|  7498421|  8172407|  8428215|  8542055|
|         Netherlands| 26886500| 27952200| 25267600| 25013700| 26799800| 27739000| 27845942| 31770508| 34423552| 37297588|
|             Austria| 70017089| 71518637| 74730956| 72224605| 72585976| 73647325| 77158431| 78433546| 78099096| 80304956|
+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [22]:
df.printSchema()

root
 |-- GEO/TIME: string (nullable = true)
 |-- 2006: string (nullable = true)
 |-- 2007: string (nullable = true)
 |-- 2008: string (nullable = true)
 |-- 2009: string (nullable = true)
 |-- 2010: string (nullable = true)
 |-- 2011: string (nullable = true)
 |-- 2012: string (nullable = true)
 |-- 2013: string (nullable = true)
 |-- 2014: string (nullable = true)
 |-- 2015: string (nullable = true)

In [23]:
# *** SOS PRWTA NA KANW TIS STILES DOUBLE GIATI EINAI OLES STRING!!! ***
# allagi tipou stis stiles apo string se int

# allazoume ton tipo stilwn apo string se int
# allazw oles tis stiles me tin kathe xronia - dld ektos apo tin prwti me tis xwres
for column in df.columns:
# for column in df.columns[1:]:
    if column == "GEO/TIME":
        continue
    else:
        df = df.withColumn(column,df[column].cast("int"))

df.printSchema()
# df.show(10)

root
 |-- GEO/TIME: string (nullable = true)
 |-- 2006: integer (nullable = true)
 |-- 2007: integer (nullable = true)
 |-- 2008: integer (nullable = true)
 |-- 2009: integer (nullable = true)
 |-- 2010: integer (nullable = true)
 |-- 2011: integer (nullable = true)
 |-- 2012: integer (nullable = true)
 |-- 2013: integer (nullable = true)
 |-- 2014: integer (nullable = true)
 |-- 2015: integer (nullable = true)

In [24]:
# antikathistw tis ellipeis times me to 0
df = df.fillna(0)
df.show()

+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|            GEO/TIME|     2006|     2007|     2008|     2009|     2010|     2011|     2012|     2013|     2014|     2015|
+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|             Belgium| 16039090| 16271311| 16360702| 15451017| 16169676| 16723867| 16432646| 16511721| 17068872| 18852087|
|            Bulgaria| 11944694| 12006786| 11791454|  9460922| 10547112| 12426723| 13451440| 14370426| 14077798| 13352281|
|      Czech Republic| 20090348| 20610186| 19987022| 17746893| 18365947| 19424839| 21793985| 22144896| 22110112| 23286515|
|             Denmark|  9453026|  9327579|  8918197|  8299403|  8981992|  9491137|  9608124|  9914273| 10608119| 11171416|
|Germany (until 19...| 52947373| 54485379| 56239679| 54096574| 59658760| 63081467| 68161503| 71191942| 74805253| 78827773|
|             Estonia|  3020367|  2915456|  2932662|  2740696|  3203721|  3748865|  3823039|  3909326|  3919299|  3770207|
|             Ireland| 21652000|        0|        0|        0|        0|        0| 11839245| 10871806| 11276424| 13462348|
|              Greece| 43055381| 48081473| 47973949| 57413304| 59184397| 65514230| 61054383| 68992640| 74675156| 78254524|
|               Spain|224518083|225450241|223756216|200551728|213349649|239369167|243389006|252447766|259635794|269418103|
|              France|105865432|108567043|106993811| 98705212|120390105|123227704|125038453|132251136|130908700|130464997|
|             Croatia| 32858014| 33701925| 33902735| 33357844| 33234882| 35389002| 57079967| 59378896| 61072661| 65683010|
|               Italy|156861341|163465680|161797434|159493866|165202498|176474062|180594988|184793382|186792507|192607930|
|              Cyprus| 13310257| 13197004| 13208954| 11666663| 12448158| 13112596| 13488127| 13152589| 12884399| 12550320|
|              Latvia|  1872393|  1935984|  2115618|  1699562|  1912336|  2257021|  2429093|  2639434|  2875934|  2873885|
|           Lithuania|  1514197|  1609998|  1626829|  1395899|  1571325|  1883003|  2680048|  2906201|  3033826|  3010727|
|          Luxembourg|  2399913|  2328688|  2249545|  2075831|  1717130|  2057883|  2298068|  2313124|  2513585|  2655733|
|             Hungary| 10045891| 10170808| 10009531|  9220148|  9358373|  9920339| 11392183| 11982883| 12351330| 12962395|
|               Malta|  7094031|  7749831|  7581137|  6550794|  7208295|  7361449|  7498421|  8172407|  8428215|  8542055|
|         Netherlands| 26886500| 27952200| 25267600| 25013700| 26799800| 27739000| 27845942| 31770508| 34423552| 37297588|
|             Austria| 70017089| 71518637| 74730956| 72224605| 72585976| 73647325| 77158431| 78433546| 78099096| 80304956|
+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [21]:
# erotima 1 - Mipws iparxei kaliteros tropos??

from pyspark.sql.functions import col, lit
# df.select(((col('2007')+col('2008')+col('2009')+col('2010')+col('2011')+col('2012')+col('2013')+col('2014'))/lit(8)).alias("mean")).show()

# athroizoume tis stiles 2007 ews 2014 kai diairoume me to plithos tous
df.withColumn("mean_07-14",(col('2007')+col('2008')+col('2009')+col('2010')+col('2011')+col('2012')+col('2013')+col('2014'))/8).show()

+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|            GEO/TIME|     2006|     2007|     2008|     2009|     2010|     2011|     2012|     2013|     2014|     2015|     mean_07-14|
+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|             Belgium| 16039090| 16271311| 16360702| 15451017| 16169676| 16723867| 16432646| 16511721| 17068872| 18852087|   1.63737265E7|
|            Bulgaria| 11944694| 12006786| 11791454|  9460922| 10547112| 12426723| 13451440| 14370426| 14077798| 13352281| 1.2266582625E7|
|      Czech Republic| 20090348| 20610186| 19987022| 17746893| 18365947| 19424839| 21793985| 22144896| 22110112| 23286515|    2.0272985E7|
|             Denmark|  9453026|  9327579|  8918197|  8299403|  8981992|  9491137|  9608124|  9914273| 10608119| 11171416|      9393603.0|
|Germany (until 19...| 52947373| 54485379| 56239679| 54096574| 59658760| 63081467| 68161503| 71191942| 74805253| 78827773| 6.2715069625E7|
|             Estonia|  3020367|  2915456|  2932662|  2740696|  3203721|  3748865|  3823039|  3909326|  3919299|  3770207|      3399133.0|
|             Ireland| 21652000|        0|        0|        0|        0|        0| 11839245| 10871806| 11276424| 13462348|    4248434.375|
|              Greece| 43055381| 48081473| 47973949| 57413304| 59184397| 65514230| 61054383| 68992640| 74675156| 78254524|   6.03611915E7|
|               Spain|224518083|225450241|223756216|200551728|213349649|239369167|243389006|252447766|259635794|269418103|2.32243695875E8|
|              France|105865432|108567043|106993811| 98705212|120390105|123227704|125038453|132251136|130908700|130464997|  1.182602705E8|
|             Croatia| 32858014| 33701925| 33902735| 33357844| 33234882| 35389002| 57079967| 59378896| 61072661| 65683010|    4.3389739E7|
|               Italy|156861341|163465680|161797434|159493866|165202498|176474062|180594988|184793382|186792507|192607930|1.72326802125E8|
|              Cyprus| 13310257| 13197004| 13208954| 11666663| 12448158| 13112596| 13488127| 13152589| 12884399| 12550320|  1.289481125E7|
|              Latvia|  1872393|  1935984|  2115618|  1699562|  1912336|  2257021|  2429093|  2639434|  2875934|  2873885|     2233122.75|
|           Lithuania|  1514197|  1609998|  1626829|  1395899|  1571325|  1883003|  2680048|  2906201|  3033826|  3010727|    2088391.125|
|          Luxembourg|  2399913|  2328688|  2249545|  2075831|  1717130|  2057883|  2298068|  2313124|  2513585|  2655733|     2194231.75|
|             Hungary| 10045891| 10170808| 10009531|  9220148|  9358373|  9920339| 11392183| 11982883| 12351330| 12962395| 1.0550699375E7|
|               Malta|  7094031|  7749831|  7581137|  6550794|  7208295|  7361449|  7498421|  8172407|  8428215|  8542055|    7568818.625|
|         Netherlands| 26886500| 27952200| 25267600| 25013700| 26799800| 27739000| 27845942| 31770508| 34423552| 37297588|  2.835153775E7|
|             Austria| 70017089| 71518637| 74730956| 72224605| 72585976| 73647325| 77158431| 78433546| 78099096| 80304956|   7.47998215E7|
+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
only showing top 20 rows

In [22]:
# erotima 2
from pyspark.sql.functions import *
# epilegoume tin ellada kai 5 akoma xwres
# exw 2 diaforetika sinola listwn gia na fanei i diafora otan einai i den einai megisti i Ellada!
selected_countries = ['Greece','Belgium','Denmark', 'Croatia','Germany (until 1990 former territory of the FRG)','Cyprus']
# selected_countries = ['Greece','Belgium','Croatia','Cyprus','France','Hungary']

# kataskeuazw neo dataframe to opoio periexei mono tis epilegmenes xwres 
df_2 = df.filter(col('GEO/TIME').isin(selected_countries))
df_2.show()

+--------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|            GEO/TIME|    2006|    2007|    2008|    2009|    2010|    2011|    2012|    2013|    2014|    2015|
+--------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|             Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|
|             Denmark| 9453026| 9327579| 8918197| 8299403| 8981992| 9491137| 9608124| 9914273|10608119|11171416|
|Germany (until 19...|52947373|54485379|56239679|54096574|59658760|63081467|68161503|71191942|74805253|78827773|
|              Greece|43055381|48081473|47973949|57413304|59184397|65514230|61054383|68992640|74675156|78254524|
|             Croatia|32858014|33701925|33902735|33357844|33234882|35389002|57079967|59378896|61072661|65683010|
|              Cyprus|13310257|13197004|13208954|11666663|12448158|13112596|13488127|13152589|12884399|12550320|
+--------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+

In [23]:
# erotima 2

# lista pou tha krata tis xronies pou i Ellada eixe to megisto arithmo dianiktereusewn 
years_greece_was_greatest = []
count = 0
# diatrexw gia kathe xronia plin tis stilis 'GEO/TIME'
for year in df_2.columns:
    if (year == 'GEO/TIME'):
        continue
#     print(year)
#     print(df_2.sort(df[year].desc()).collect()[0][0]) # i xwra me to megisto tin kathe xronia
#     
#   taksinomw kathe stili me fthinousa diataksi kai eksagw tin xwra pou eixe to megisto
#   an auti itan i Ellada tote prosthetw ti xronia sti lista 
    if (df_2.sort(df[year].desc()).collect()[0][0] =='Greece'):
        years_greece_was_greatest.append(year)
        count+=1 # borw na to kanw kai me to len tis listas!
    
# df.sort('2006',ascending=False).collect()[0]
# df.sort(df['2006'].desc()).show()

# ektipwnw tis xronies pou i Ellada eixe to megisto arithmo dianiktereusewn kai poses itan autes i xronies
print(f"H Ellada eixe perissoteres episkepseis tis xronies: {years_greece_was_greatest}")
print(f"Sinolika h Ellada eixe perissotera arrivals gia {len(years_greece_was_greatest)} xronies")

H Ellada eixe perissoteres episkepseis tis xronies: ['2009', '2011']
Sinolika h Ellada eixe perissotera arrivals gia 2 xronies

In [115]:
# erotima 3- oi xwre me to megalitero arithmo dianiktereusewn ana etos
for year in df.columns[1:]:
    df.orderBy(year,ascending=False).select(col('GEO/TIME').alias(f'Max_for_{year}')).show()

+--------------------+
|        Max_for_2006|
+--------------------+
|               Spain|
|               Italy|
|              France|
|      United Kingdom|
|             Austria|
|Germany (until 19...|
|              Greece|
|             Croatia|
|         Netherlands|
|            Portugal|
|             Ireland|
|      Czech Republic|
|             Belgium|
|              Cyprus|
|            Bulgaria|
|              Sweden|
|              Poland|
|             Hungary|
|             Denmark|
|              Norway|
+--------------------+
only showing top 20 rows

+--------------------+
|        Max_for_2007|
+--------------------+
|               Spain|
|               Italy|
|              France|
|      United Kingdom|
|             Austria|
|Germany (until 19...|
|              Greece|
|             Croatia|
|            Portugal|
|         Netherlands|
|      Czech Republic|
|             Belgium|
|              Cyprus|
|            Bulgaria|
|              Sweden|
|              Poland|
|             Hungary|
|             Denmark|
|              Norway|
|               Malta|
+--------------------+
only showing top 20 rows

+--------------------+
|        Max_for_2008|
+--------------------+
|               Spain|
|               Italy|
|              France|
|      United Kingdom|
|             Austria|
|Germany (until 19...|
|              Greece|
|             Croatia|
|            Portugal|
|         Netherlands|
|      Czech Republic|
|             Belgium|
|              Cyprus|
|            Bulgaria|
|              Sweden|
|              Poland|
|             Hungary|
|             Denmark|
|              Norway|
|               Malta|
+--------------------+
only showing top 20 rows

+--------------------+
|        Max_for_2009|
+--------------------+
|               Spain|
|               Italy|
|              France|
|      United Kingdom|
|             Austria|
|              Greece|
|Germany (until 19...|
|             Croatia|
|            Portugal|
|         Netherlands|
|      Czech Republic|
|             Belgium|
|              Cyprus|
|              Sweden|
|              Poland|
|            Bulgaria|
|             Hungary|
|             Denmark|
|              Norway|
|               Malta|
+--------------------+
only showing top 20 rows

+--------------------+
|        Max_for_2010|
+--------------------+
|               Spain|
|               Italy|
|              France|
|      United Kingdom|
|             Austria|
|Germany (until 19...|
|              Greece|
|             Croatia|
|         Netherlands|
|            Portugal|
|      Czech Republic|
|             Belgium|
|              Cyprus|
|              Sweden|
|            Bulgaria|
|              Poland|
|             Hungary|
|             Denmark|
|              Norway|
|               Malta|
+--------------------+
only showing top 20 rows

+--------------------+
|        Max_for_2011|
+--------------------+
|               Spain|
|               Italy|
|              France|
|      United Kingdom|
|             Austria|
|              Greece|
|Germany (until 19...|
|             Croatia|
|            Portugal|
|         Netherlands|
|      Czech Republic|
|             Belgium|
|              Cyprus|
|            Bulgaria|
|              Sweden|
|              Poland|
|             Hungary|
|             Denmark|
|              Norway|
|               Malta|
+--------------------+
only showing top 20 rows

+--------------------+
|        Max_for_2012|
+--------------------+
|               Spain|
|               Italy|
|              France|
|      United Kingdom|
|             Austria|
|Germany (until 19...|
|              Greece|
|             Croatia|
|            Portugal|
|         Netherlands|
|      Czech Republic|
|             Belgium|
|              Cyprus|
|            Bulgaria|
|              Poland|
|             Ireland|
|             Hungary|
|              Sweden|
|             Denmark|
|          Montenegro|
+--------------------+
only showing top 20 rows

+--------------------+
|        Max_for_2013|
+--------------------+
|               Spain|
|               Italy|
|              France|
|              Turkey|
|             Austria|
|Germany (until 19...|
|              Greece|
|             Croatia|
|            Portugal|
|         Netherlands|
|      Czech Republic|
|             Belgium|
|            Bulgaria|
|              Cyprus|
|              Poland|
|             Hungary|
|              Sweden|
|             Ireland|
|             Denmark|
|               Malta|
+--------------------+
only showing top 20 rows

+--------------------+
|        Max_for_2014|
+--------------------+
|               Spain|
|               Italy|
|              France|
|              Turkey|
|             Austria|
|Germany (until 19...|
|              Greece|
|             Croatia|
|            Portugal|
|         Netherlands|
|      Czech Republic|
|             Belgium|
|            Bulgaria|
|              Poland|
|              Cyprus|
|             Hungary|
|              Sweden|
|             Ireland|
|             Denmark|
|              Norway|
+--------------------+
only showing top 20 rows

+--------------------+
|        Max_for_2015|
+--------------------+
|               Spain|
|               Italy|
|              France|
|              Turkey|
|             Austria|
|Germany (until 19...|
|              Greece|
|             Croatia|
|            Portugal|
|         Netherlands|
|      Czech Republic|
|             Belgium|
|              Poland|
|              Sweden|
|             Ireland|
|            Bulgaria|
|             Hungary|
|              Cyprus|
|             Denmark|
|          Montenegro|
+--------------------+
only showing top 20 rows

In [32]:
df.select(*(max(c) for c in df.columns[1:])).show()

+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|max(2006)|max(2007)|max(2008)|max(2009)|max(2010)|max(2011)|max(2012)|max(2013)|max(2014)|max(2015)|
+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|224518083|225450241|223756216|200551728|213349649|239369167|243389006|252447766|259635794|269418103|
+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+

In [33]:
df.select(*(max(c) for c in df.columns[1:])).collect()[0]

Row(max(2006)=224518083, max(2007)=225450241, max(2008)=223756216, max(2009)=200551728, max(2010)=213349649, max(2011)=239369167, max(2012)=243389006, max(2013)=252447766, max(2014)=259635794, max(2015)=269418103)

In [50]:
df.select(col('GEO/TIME').alias(f'maxCity_{xronia}')).filter(df['2006']==lista[0]).show()
df.select(col('GEO/TIME').alias(f'maxCity_{xronia}')).filter(df['2006']==lista[0]).collect()

+------------+
|maxCity_2015|
+------------+
|       Spain|
+------------+

[Row(maxCity_2015='Spain')]

In [51]:
# erotima 3
# from pyspark.sql.functions import max
from pyspark.sql.functions import *
# apothikeuw sti metavliti max_list to Row pou periexei to megisto kathe xronias
max_list = df.select(*(max(c) for c in df.columns[1:])).collect()[0]
iteration = 0
# diatrexw gia kathe zeugari xronias-megistou ekeinis tis xronias
for max_of_the_year,xronia in zip(max_list,df.columns[1:]):
#  eksagw tin poli pou eixe to megisto tin xronia pou vrisketai kathe fora o vroxos
    max_city_of_the_year = df.select(col('GEO/TIME').alias(f'maxCity_{xronia}')).filter(df[xronia]==max_of_the_year).collect()[0][0]
#     poli_df =  df.select(col('GEO/TIME').alias(f'maxCity_{xronia}')).filter(df[xronia]==max_of_the_year).collect()
#     edw apla to emfanizw
#     df.select(col('GEO/TIME').alias(f'maxCity_{xronia}')).filter(df[xronia]==item).show()

#   sto prwto perasma dimiourgo to neo dataframe
    if iteration==0:
        new_df = df.select(col('GEO/TIME').alias(f'maxCity_{xronia}')).filter(df[xronia]==max_of_the_year)
#   sta ipoloipa perasmata afou exei dimiourgithei to dataframe, prosthetw apla tin antistoixi stili sto dataframe
    else:
#         new_df = new_df.withColumn(f'maxCity_{xronia}',lit(poli_df[0][0]))
#         i timi tis nea stillis einai i xwra pou eixe to megisto, kai xrisimopoiw san literal ti timi tis max_city_of_the_year
        new_df = new_df.withColumn(f'maxCity_{xronia}',lit(max_city_of_the_year))
    iteration+=1

#     print(f"Item: {item}, Xronia: {xronia}")
#     max_year_dataframe = df.withColumn(xronia,item)

new_df.show()

+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
|maxCity_2006|maxCity_2007|maxCity_2008|maxCity_2009|maxCity_2010|maxCity_2011|maxCity_2012|maxCity_2013|maxCity_2014|maxCity_2015|
+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
|       Spain|       Spain|       Spain|       Spain|       Spain|       Spain|       Spain|       Spain|       Spain|       Spain|
+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+

In [153]:
# erotima 4
from pyspark.sql.functions import least
minimum_col = df.withColumn('minimum',least(col('2006'),col('2007'),col('2008'),col('2009'),col('2010'),col('2011'),col('2011'),col('2012'),col('2013'),col('2014'),col('2015')))
minimum_col.show()

+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|            GEO/TIME|     2006|     2007|     2008|     2009|     2010|     2011|     2012|     2013|     2014|     2015|  minimum|
+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|             Belgium| 16039090| 16271311| 16360702| 15451017| 16169676| 16723867| 16432646| 16511721| 17068872| 18852087| 15451017|
|            Bulgaria| 11944694| 12006786| 11791454|  9460922| 10547112| 12426723| 13451440| 14370426| 14077798| 13352281|  9460922|
|      Czech Republic| 20090348| 20610186| 19987022| 17746893| 18365947| 19424839| 21793985| 22144896| 22110112| 23286515| 17746893|
|             Denmark|  9453026|  9327579|  8918197|  8299403|  8981992|  9491137|  9608124|  9914273| 10608119| 11171416|  8299403|
|Germany (until 19...| 52947373| 54485379| 56239679| 54096574| 59658760| 63081467| 68161503| 71191942| 74805253| 78827773| 52947373|
|             Estonia|  3020367|  2915456|  2932662|  2740696|  3203721|  3748865|  3823039|  3909326|  3919299|  3770207|  2740696|
|             Ireland| 21652000|        0|        0|        0|        0|        0| 11839245| 10871806| 11276424| 13462348|        0|
|              Greece| 43055381| 48081473| 47973949| 57413304| 59184397| 65514230| 61054383| 68992640| 74675156| 78254524| 43055381|
|               Spain|224518083|225450241|223756216|200551728|213349649|239369167|243389006|252447766|259635794|269418103|200551728|
|              France|105865432|108567043|106993811| 98705212|120390105|123227704|125038453|132251136|130908700|130464997| 98705212|
|             Croatia| 32858014| 33701925| 33902735| 33357844| 33234882| 35389002| 57079967| 59378896| 61072661| 65683010| 32858014|
|               Italy|156861341|163465680|161797434|159493866|165202498|176474062|180594988|184793382|186792507|192607930|156861341|
|              Cyprus| 13310257| 13197004| 13208954| 11666663| 12448158| 13112596| 13488127| 13152589| 12884399| 12550320| 11666663|
|              Latvia|  1872393|  1935984|  2115618|  1699562|  1912336|  2257021|  2429093|  2639434|  2875934|  2873885|  1699562|
|           Lithuania|  1514197|  1609998|  1626829|  1395899|  1571325|  1883003|  2680048|  2906201|  3033826|  3010727|  1395899|
|          Luxembourg|  2399913|  2328688|  2249545|  2075831|  1717130|  2057883|  2298068|  2313124|  2513585|  2655733|  1717130|
|             Hungary| 10045891| 10170808| 10009531|  9220148|  9358373|  9920339| 11392183| 11982883| 12351330| 12962395|  9220148|
|               Malta|  7094031|  7749831|  7581137|  6550794|  7208295|  7361449|  7498421|  8172407|  8428215|  8542055|  6550794|
|         Netherlands| 26886500| 27952200| 25267600| 25013700| 26799800| 27739000| 27845942| 31770508| 34423552| 37297588| 25013700|
|             Austria| 70017089| 71518637| 74730956| 72224605| 72585976| 73647325| 77158431| 78433546| 78099096| 80304956| 70017089|
+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [167]:
df.collect()[0].asDict()
for key,item in df.collect()[0].asDict().items():
    if(item == 15451017):
        year = key
print(year)

2009

In [26]:
from pyspark.sql.functions import *
df.select(*(max(c) for c in df.columns[1:])).show()

+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|max(2006)|max(2007)|max(2008)|max(2009)|max(2010)|max(2011)|max(2012)|max(2013)|max(2014)|max(2015)|
+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|224518083|225450241|223756216|200551728|213349649|239369167|243389006|252447766|259635794|269418103|
+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+

In [ ]:
# erotima 4
df.withColumn('year_max_was_found',
   F.when(F.col('2006') > F.col('colB'), 'colA').
     otherwise('colB')).show()

In [83]:
# df.withColumn('year_max_was_found',
#    when(col('2006') > (*(col(c) for c in df.columns[2:])), '2006').
#      otherwise('colB')).show()

In [30]:
# EROTIMA 4- ALLA ME XAZO TROPO!!
# dimiourgw ti stili year_min_was_found i opoia krata ti xronia pou vrethike to elaxisto
# kathe xronia tin sigkrinw me oles tis ipoloipes kai otan auti exei to mikrotero arithmo dianiktereusewn
# xrisimopoiw ti timi tiw sti stili year_min_was_found
df.withColumn('year_min_was_found',
   when((col('2006') < col('2007')) & (col('2006')<col('2008')) & (col('2006')<col('2009')) & (col('2006')<col('2010')) & (col('2006')<col('2011')) & (col('2006')<col('2012')) & (col('2006')<col('2013')) & (col('2006')<col('2014')) & (col('2006')<col('2015')), '2006').
   when((col('2007') < col('2006')) & (col('2007')<col('2008')) & (col('2007')<col('2009')) & (col('2007')<col('2010')) & (col('2007')<col('2011')) & (col('2007')<col('2012')) & (col('2007')<col('2013')) & (col('2007')<col('2014')) & (col('2007')<col('2015')),'2007').
   when((col('2008') < col('2006')) & (col('2008')<col('2007')) & (col('2008')<col('2009')) & (col('2008')<col('2010')) & (col('2008')<col('2011')) & (col('2008')<col('2012')) & (col('2008')<col('2013')) & (col('2008')<col('2014')) & (col('2008')<col('2015')),'2008').
   when((col('2009') < col('2006')) & (col('2009')<col('2007')) & (col('2009')<col('2008')) & (col('2009')<col('2010')) & (col('2009')<col('2011')) & (col('2009')<col('2012')) & (col('2009')<col('2013')) & (col('2009')<col('2014')) & (col('2009')<col('2015')),'2009').  
   when((col('2010') < col('2006')) & (col('2010')<col('2007')) & (col('2010')<col('2008')) & (col('2010')<col('2009')) & (col('2010')<col('2011')) & (col('2010')<col('2012')) & (col('2010')<col('2013')) & (col('2010')<col('2014')) & (col('2010')<col('2015')),'2010').
   when((col('2011') < col('2006')) & (col('2011')<col('2007')) & (col('2011')<col('2008')) & (col('2011')<col('2009')) & (col('2011')<col('2010')) & (col('2011')<col('2012')) & (col('2011')<col('2013')) & (col('2011')<col('2014')) & (col('2011')<col('2015')),'2011').
   when((col('2012') < col('2006')) & (col('2012')<col('2007')) & (col('2012')<col('2008')) & (col('2012')<col('2009')) & (col('2012')<col('2010')) & (col('2012')<col('2011')) & (col('2012')<col('2013')) & (col('2012')<col('2014')) & (col('2012')<col('2015')),'2012').
   when((col('2013') < col('2006')) & (col('2013')<col('2007')) & (col('2013')<col('2008')) & (col('2013')<col('2009')) & (col('2013')<col('2010')) & (col('2013')<col('2011')) & (col('2013')<col('2012')) & (col('2013')<col('2014')) & (col('2013')<col('2015')),'2013').
   when((col('2014') < col('2006')) & (col('2014')<col('2007')) & (col('2014')<col('2008')) & (col('2014')<col('2009')) & (col('2014')<col('2010')) & (col('2014')<col('2011')) & (col('2014')<col('2012')) & (col('2014')<col('2013')) & (col('2014')<col('2015')),'2014').
   when((col('2015') < col('2006')) & (col('2015')<col('2007')) & (col('2015')<col('2008')) & (col('2015')<col('2009')) & (col('2015')<col('2010')) & (col('2015')<col('2011')) & (col('2015')<col('2012')) & (col('2015')<col('2013')) & (col('2015')<col('2014')),'2015').
   otherwise('more than one min')).show()
# isws iparxei kaliteros tropos!

+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+--------------+
|            GEO/TIME|     2006|     2007|     2008|     2009|     2010|     2011|     2012|     2013|     2014|     2015|year_min_found|
+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+--------------+
|             Belgium| 16039090| 16271311| 16360702| 15451017| 16169676| 16723867| 16432646| 16511721| 17068872| 18852087|          2009|
|            Bulgaria| 11944694| 12006786| 11791454|  9460922| 10547112| 12426723| 13451440| 14370426| 14077798| 13352281|          2009|
|      Czech Republic| 20090348| 20610186| 19987022| 17746893| 18365947| 19424839| 21793985| 22144896| 22110112| 23286515|          2009|
|             Denmark|  9453026|  9327579|  8918197|  8299403|  8981992|  9491137|  9608124|  9914273| 10608119| 11171416|          2009|
|Germany (until 19...| 52947373| 54485379| 56239679| 54096574| 59658760| 63081467| 68161503| 71191942| 74805253| 78827773|          2006|
|             Estonia|  3020367|  2915456|  2932662|  2740696|  3203721|  3748865|  3823039|  3909326|  3919299|  3770207|          2009|
|             Ireland| 21652000|        0|        0|        0|        0|        0| 11839245| 10871806| 11276424| 13462348|             -|
|              Greece| 43055381| 48081473| 47973949| 57413304| 59184397| 65514230| 61054383| 68992640| 74675156| 78254524|          2006|
|               Spain|224518083|225450241|223756216|200551728|213349649|239369167|243389006|252447766|259635794|269418103|          2009|
|              France|105865432|108567043|106993811| 98705212|120390105|123227704|125038453|132251136|130908700|130464997|          2009|
|             Croatia| 32858014| 33701925| 33902735| 33357844| 33234882| 35389002| 57079967| 59378896| 61072661| 65683010|          2006|
|               Italy|156861341|163465680|161797434|159493866|165202498|176474062|180594988|184793382|186792507|192607930|          2006|
|              Cyprus| 13310257| 13197004| 13208954| 11666663| 12448158| 13112596| 13488127| 13152589| 12884399| 12550320|          2009|
|              Latvia|  1872393|  1935984|  2115618|  1699562|  1912336|  2257021|  2429093|  2639434|  2875934|  2873885|          2009|
|           Lithuania|  1514197|  1609998|  1626829|  1395899|  1571325|  1883003|  2680048|  2906201|  3033826|  3010727|          2009|
|          Luxembourg|  2399913|  2328688|  2249545|  2075831|  1717130|  2057883|  2298068|  2313124|  2513585|  2655733|          2010|
|             Hungary| 10045891| 10170808| 10009531|  9220148|  9358373|  9920339| 11392183| 11982883| 12351330| 12962395|          2009|
|               Malta|  7094031|  7749831|  7581137|  6550794|  7208295|  7361449|  7498421|  8172407|  8428215|  8542055|          2009|
|         Netherlands| 26886500| 27952200| 25267600| 25013700| 26799800| 27739000| 27845942| 31770508| 34423552| 37297588|          2009|
|             Austria| 70017089| 71518637| 74730956| 72224605| 72585976| 73647325| 77158431| 78433546| 78099096| 80304956|          2006|
+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+--------------+
only showing top 20 rows

In [67]:
# cols = df.columns
def return_max(curr_year):
    x = 5
    if (x=5):
        return 'Einai i 2006'
    else:
        return 'Den einai i 2006'
#     cols = df.columns[1:]
#     target = len(cols)-1
#     count = 0
#     for col in cols:
#         if curr_year == col:
#             continue
#         else:
#             if(curr_year>col):
#                 count = count + 1
# #     dld itan megalitero apo oles tis alles stiles
#     if (count==target):
#         return True
#     else:
#         return False

In [68]:
from pyspark.sql.types import BooleanType, StringType
return_max_col_udf = udf(lambda x,z: return_max_col(x,z),StringType())

In [70]:
df.withColumn('year_max_was_found',
   when(return_max_col_udf(col('2006'))=='Einai i 2006', '2006').
     otherwise('000')).show()

Py4JJavaError: An error occurred while calling o616.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 26.0 failed 1 times, most recent failure: Lost task 0.0 in stage 26.0 (TID 26) (DESKTOP-GRQLJ30 executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:182)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:107)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:119)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:145)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.evaluate(BatchEvalPythonExec.scala:70)
	at org.apache.spark.sql.execution.python.EvalPythonExec.$anonfun$doExecute$2(EvalPythonExec.scala:130)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:863)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:863)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:835)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/java.net.PlainSocketImpl.waitForNewConnection(Native Method)
	at java.base/java.net.PlainSocketImpl.socketAccept(PlainSocketImpl.java:163)
	at java.base/java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:458)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:556)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:524)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:174)
	... 24 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2253)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2202)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2201)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2201)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1078)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1078)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1078)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2440)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2382)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2371)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:868)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2202)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2223)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2242)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:472)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:425)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:47)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:3696)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:2722)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3687)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:772)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3685)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2722)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2929)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:301)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:338)
	at jdk.internal.reflect.GeneratedMethodAccessor63.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:567)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:835)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:182)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:107)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:119)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:145)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.evaluate(BatchEvalPythonExec.scala:70)
	at org.apache.spark.sql.execution.python.EvalPythonExec.$anonfun$doExecute$2(EvalPythonExec.scala:130)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:863)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:863)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/java.net.PlainSocketImpl.waitForNewConnection(Native Method)
	at java.base/java.net.PlainSocketImpl.socketAccept(PlainSocketImpl.java:163)
	at java.base/java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:458)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:556)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:524)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:174)
	... 24 more

In [58]:
df.show()

+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|            GEO/TIME|     2006|     2007|     2008|     2009|     2010|     2011|     2012|     2013|     2014|     2015|
+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
|             Belgium| 16039090| 16271311| 16360702| 15451017| 16169676| 16723867| 16432646| 16511721| 17068872| 18852087|
|            Bulgaria| 11944694| 12006786| 11791454|  9460922| 10547112| 12426723| 13451440| 14370426| 14077798| 13352281|
|      Czech Republic| 20090348| 20610186| 19987022| 17746893| 18365947| 19424839| 21793985| 22144896| 22110112| 23286515|
|             Denmark|  9453026|  9327579|  8918197|  8299403|  8981992|  9491137|  9608124|  9914273| 10608119| 11171416|
|Germany (until 19...| 52947373| 54485379| 56239679| 54096574| 59658760| 63081467| 68161503| 71191942| 74805253| 78827773|
|             Estonia|  3020367|  2915456|  2932662|  2740696|  3203721|  3748865|  3823039|  3909326|  3919299|  3770207|
|             Ireland| 21652000|        0|        0|        0|        0|        0| 11839245| 10871806| 11276424| 13462348|
|              Greece| 43055381| 48081473| 47973949| 57413304| 59184397| 65514230| 61054383| 68992640| 74675156| 78254524|
|               Spain|224518083|225450241|223756216|200551728|213349649|239369167|243389006|252447766|259635794|269418103|
|              France|105865432|108567043|106993811| 98705212|120390105|123227704|125038453|132251136|130908700|130464997|
|             Croatia| 32858014| 33701925| 33902735| 33357844| 33234882| 35389002| 57079967| 59378896| 61072661| 65683010|
|               Italy|156861341|163465680|161797434|159493866|165202498|176474062|180594988|184793382|186792507|192607930|
|              Cyprus| 13310257| 13197004| 13208954| 11666663| 12448158| 13112596| 13488127| 13152589| 12884399| 12550320|
|              Latvia|  1872393|  1935984|  2115618|  1699562|  1912336|  2257021|  2429093|  2639434|  2875934|  2873885|
|           Lithuania|  1514197|  1609998|  1626829|  1395899|  1571325|  1883003|  2680048|  2906201|  3033826|  3010727|
|          Luxembourg|  2399913|  2328688|  2249545|  2075831|  1717130|  2057883|  2298068|  2313124|  2513585|  2655733|
|             Hungary| 10045891| 10170808| 10009531|  9220148|  9358373|  9920339| 11392183| 11982883| 12351330| 12962395|
|               Malta|  7094031|  7749831|  7581137|  6550794|  7208295|  7361449|  7498421|  8172407|  8428215|  8542055|
|         Netherlands| 26886500| 27952200| 25267600| 25013700| 26799800| 27739000| 27845942| 31770508| 34423552| 37297588|
|             Austria| 70017089| 71518637| 74730956| 72224605| 72585976| 73647325| 77158431| 78433546| 78099096| 80304956|
+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [24]:
from pyspark.sql.window import Window as W
from pyspark.sql import types as T

df = df.withColumn(
    "max_val",
    explode(
        array([
            array([lit(cl), col(cl)]) for cl in df.columns[1:]
        ])
    )
)
df.show()

+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+----------------+
|GEO/TIME|    2006|    2007|    2008|    2009|    2010|    2011|    2012|    2013|    2014|    2015|         max_val|
+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+----------------+
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|[2006, 16039090]|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|[2007, 16271311]|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|[2008, 16360702]|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|[2009, 15451017]|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|[2010, 16169676]|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|[2011, 16723867]|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|[2012, 16432646]|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|[2013, 16511721]|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|[2014, 17068872]|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|[2015, 18852087]|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|[2006, 11944694]|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|[2007, 12006786]|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|[2008, 11791454]|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281| [2009, 9460922]|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|[2010, 10547112]|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|[2011, 12426723]|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|[2012, 13451440]|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|[2013, 14370426]|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|[2014, 14077798]|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|[2015, 13352281]|
+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+----------------+
only showing top 20 rows

In [25]:
df = df.select(
    "GEO/TIME", 
    "2006", 
    "2007",
    "2008",
    "2009",
    "2010",
    "2011",
    "2012",
    "2013",
    "2014",
    "2015",
    col("max_val").getItem(0).alias("year_max_was_found"),
    col("max_val").getItem(1).cast(T.IntegerType()).alias("col_value"),
)
df.show()

+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------------------+---------+
|GEO/TIME|    2006|    2007|    2008|    2009|    2010|    2011|    2012|    2013|    2014|    2015|year_max_was_found|col_value|
+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------------------+---------+
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|              2006| 16039090|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|              2007| 16271311|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|              2008| 16360702|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|              2009| 15451017|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|              2010| 16169676|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|              2011| 16723867|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|              2012| 16432646|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|              2013| 16511721|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|              2014| 17068872|
| Belgium|16039090|16271311|16360702|15451017|16169676|16723867|16432646|16511721|17068872|18852087|              2015| 18852087|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|              2006| 11944694|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|              2007| 12006786|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|              2008| 11791454|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|              2009|  9460922|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|              2010| 10547112|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|              2011| 12426723|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|              2012| 13451440|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|              2013| 14370426|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|              2014| 14077798|
|Bulgaria|11944694|12006786|11791454| 9460922|10547112|12426723|13451440|14370426|14077798|13352281|              2015| 13352281|
+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------------------+---------+
only showing top 20 rows

In [180]:
countries = ['Belgium','France', 'Croatia','Italy','Cyprus']
selected_countries_data = list()
greece_data = df.filter(df['GEO/TIME']=='Greece').collect()[0]
for country in countries:
    selected_countries_data.append(df.filter(df['GEO/TIME']==country).collect()[0])
print(selected_countries_data)

[Row(GEO/TIME='Belgium', 2006=16039090, 2007=16271311, 2008=16360702, 2009=15451017, 2010=16169676, 2011=16723867, 2012=16432646, 2013=16511721, 2014=17068872, 2015=18852087), Row(GEO/TIME='France', 2006=105865432, 2007=108567043, 2008=106993811, 2009=98705212, 2010=120390105, 2011=123227704, 2012=125038453, 2013=132251136, 2014=130908700, 2015=130464997), Row(GEO/TIME='Croatia', 2006=32858014, 2007=33701925, 2008=33902735, 2009=33357844, 2010=33234882, 2011=35389002, 2012=57079967, 2013=59378896, 2014=61072661, 2015=65683010), Row(GEO/TIME='Italy', 2006=156861341, 2007=163465680, 2008=161797434, 2009=159493866, 2010=165202498, 2011=176474062, 2012=180594988, 2013=184793382, 2014=186792507, 2015=192607930), Row(GEO/TIME='Cyprus', 2006=13310257, 2007=13197004, 2008=13208954, 2009=11666663, 2010=12448158, 2011=13112596, 2012=13488127, 2013=13152589, 2014=12884399, 2015=12550320)]

In [186]:
counter = 0 # poses xwres
better_years_for_greece_per_country = {'Belgium': [],'France':[],'Croatia':[],'Italy':[],'Cyprus':[]} # krataei tis xronies gia kathe xwra
for row in selected_countries_data:
        for year in range(1,len(row)):
#             print(row[year])
                if greece_data[year]>row[year]:
                    better_years_for_greece_per_country[row[0]].append(year)
                    counter = counter + 1
print(better_years_for_greece_per_country)
print("Sinolika oi xronies pou i Ellada ta pige kalitera: ", counter)

{'Belgium': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'France': [], 'Croatia': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Italy': [], 'Cyprus': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}
Sinolika oi xronies pou i Ellada ta pige kalitera:  30

In [185]:
for row in selected_countries_data:
    print(row)

16039090
105865432
32858014
156861341
13310257

### MEROS B

In [10]:
import pandas as pd
# ta onomata stilwn vriskontai sti prwti grammi 1
tour_data = pd.read_excel("international_tourist_arrivals.xlsx",header=1)
tour_data.head()
# metatrwpw to arxeio se .csv xwris tin arithmisi twn grammw
tour_data.to_csv("international_tourist_arrivals.csv",index=False)

In [55]:
# kataskeuazw to dataframe apo to csv arxeio sto pyspark
df = spark.read.option("header","true").load("international_tourist_arrivals.csv",format='csv')
# metanomozw tin prwti stili pou den periexei onoma!
df = df.withColumnRenamed('Unnamed: 0','Region')
df.show()

+--------------------+-----+-----+-----+-----+-----+-----+-----+
|              Region| 1990| 1995| 2000| 2005| 2010| 2014| 2015|
+--------------------+-----+-----+-----+-----+-----+-----+-----+
|             Europe | null| null| null| null| null| null| null|
|    Northern Europe | 28.7| 36.4| 44.8| 59.9| 62.8| 70.8| 75.9|
|     Western Europe |108.6|112.2|139.7|141.7|154.4|174.4|180.0|
|Central/Eastern E...| 33.9| 57.9| 69.6| 95.3| 98.9|120.2|126.6|
|Southern/Medit. E...| 90.3| 98.0|132.6|156.4|173.3|214.8|225.2|
|Asia and the Paci...| null| null| null| null| null| null| null|
|    North-East Asia | 26.4| 41.3| 58.3| 85.9|111.5|136.3|142.1|
|    South-East Asia | 21.2| 28.5| 36.3| 49.0| 70.5| 97.3|104.6|
|            Oceania |  5.2|  8.1|  9.6| 10.9| 11.4| 13.3| 14.2|
|         South Asia |  3.2|  4.2|  6.1|  8.2| 12.1| 17.5| 18.3|
|           Americas | null| null| null| null| null| null| null|
|      North America | 71.8| 80.5| 91.5| 89.9| 99.5|120.9|127.6|
|          Caribbean | 11.4| 14.0| 17.1| 18.8| 19.5| 22.3| 23.9|
|    Central America |  1.9|  2.6|  4.3|  6.3|  7.9|  9.6| 10.3|
|      South America |  7.7| 11.7| 15.3| 18.3| 23.2| 29.1| 30.8|
|             Africa | null| null| null| null| null| null| null|
|       North Africa |  8.4|  7.3| 10.2| 13.9| 19.7| 20.4| 18.0|
|  Subsaharan Africa |  6.4| 11.5| 16.0| 20.9| 30.7| 34.9| 35.4|
|        Middle East |  9.6| 12.7| 22.4| 33.7| 54.7| 52.4| 53.3|
+--------------------+-----+-----+-----+-----+-----+-----+-----+

In [56]:
df.printSchema()

root
 |-- Region: string (nullable = true)
 |-- 1990: string (nullable = true)
 |-- 1995: string (nullable = true)
 |-- 2000: string (nullable = true)
 |-- 2005: string (nullable = true)
 |-- 2010: string (nullable = true)
 |-- 2014: string (nullable = true)
 |-- 2015: string (nullable = true)

In [57]:
# metatrepw tis stiles me tis xronies apo String se float
for column in df.columns[1:]:
    df = df.withColumn(column,df[column].cast("float"))

df.printSchema()

root
 |-- Region: string (nullable = true)
 |-- 1990: float (nullable = true)
 |-- 1995: float (nullable = true)
 |-- 2000: float (nullable = true)
 |-- 2005: float (nullable = true)
 |-- 2010: float (nullable = true)
 |-- 2014: float (nullable = true)
 |-- 2015: float (nullable = true)

In [59]:
from pyspark.sql.functions import *
# df.groupby('Region').agg(sum('1990')).where(col('Region').contains('Europe')).show()
df.select(sum(col('1990'))).collect()[0][0]

434.70000660419464

In [23]:
df.groupby(col('Region').contains('Europe')).sum().show()

+------------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+-----------------+
|contains(Region, Europe)|         sum(1990)|         sum(1995)|         sum(2000)|        sum(2005)|         sum(2010)|        sum(2014)|        sum(2015)|
+------------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+-----------------+
|                    true|261.50000381469727|             304.5|386.70000076293945|453.2999954223633|489.39999771118164|580.1999969482422|607.6999969482422|
|                   false|173.20000278949738|222.39999914169312|287.09999895095825|355.8000011444092|460.70000314712524|554.0000104904175|578.5000019073486|
+------------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+-----------------+

## SOS OLES OI TIMES TIS STILIS REGION EXOUN ENA KENA META TO ONOMA!!!

In [24]:
# df.groupby(col('Region').contains('Europe')).sum().collect()[0].asDict()
df.filter(col("Region").contains('Europe')).show()

+--------------------+-----+-----+-----+-----+-----+-----+-----+
|              Region| 1990| 1995| 2000| 2005| 2010| 2014| 2015|
+--------------------+-----+-----+-----+-----+-----+-----+-----+
|             Europe | null| null| null| null| null| null| null|
|    Northern Europe | 28.7| 36.4| 44.8| 59.9| 62.8| 70.8| 75.9|
|     Western Europe |108.6|112.2|139.7|141.7|154.4|174.4|180.0|
|Central/Eastern E...| 33.9| 57.9| 69.6| 95.3| 98.9|120.2|126.6|
|Southern/Medit. E...| 90.3| 98.0|132.6|156.4|173.3|214.8|225.2|
+--------------------+-----+-----+-----+-----+-----+-----+-----+

In [25]:
df.filter(col("Region").contains('Europe')).groupby().sum().show()

+------------------+---------+------------------+-----------------+------------------+-----------------+-----------------+
|         sum(1990)|sum(1995)|         sum(2000)|        sum(2005)|         sum(2010)|        sum(2014)|        sum(2015)|
+------------------+---------+------------------+-----------------+------------------+-----------------+-----------------+
|261.50000381469727|    304.5|386.70000076293945|453.2999954223633|489.39999771118164|580.1999969482422|607.6999969482422|
+------------------+---------+------------------+-----------------+------------------+-----------------+-----------------+

In [58]:
# antikathistw PROSWRINA tis ellipeis times me to 0
df = df.fillna(0)
df.show()

+--------------------+-----+-----+-----+-----+-----+-----+-----+
|              Region| 1990| 1995| 2000| 2005| 2010| 2014| 2015|
+--------------------+-----+-----+-----+-----+-----+-----+-----+
|             Europe |  0.0|  0.0|  0.0|  0.0|  0.0|  0.0|  0.0|
|    Northern Europe | 28.7| 36.4| 44.8| 59.9| 62.8| 70.8| 75.9|
|     Western Europe |108.6|112.2|139.7|141.7|154.4|174.4|180.0|
|Central/Eastern E...| 33.9| 57.9| 69.6| 95.3| 98.9|120.2|126.6|
|Southern/Medit. E...| 90.3| 98.0|132.6|156.4|173.3|214.8|225.2|
|Asia and the Paci...|  0.0|  0.0|  0.0|  0.0|  0.0|  0.0|  0.0|
|    North-East Asia | 26.4| 41.3| 58.3| 85.9|111.5|136.3|142.1|
|    South-East Asia | 21.2| 28.5| 36.3| 49.0| 70.5| 97.3|104.6|
|            Oceania |  5.2|  8.1|  9.6| 10.9| 11.4| 13.3| 14.2|
|         South Asia |  3.2|  4.2|  6.1|  8.2| 12.1| 17.5| 18.3|
|           Americas |  0.0|  0.0|  0.0|  0.0|  0.0|  0.0|  0.0|
|      North America | 71.8| 80.5| 91.5| 89.9| 99.5|120.9|127.6|
|          Caribbean | 11.4| 14.0| 17.1| 18.8| 19.5| 22.3| 23.9|
|    Central America |  1.9|  2.6|  4.3|  6.3|  7.9|  9.6| 10.3|
|      South America |  7.7| 11.7| 15.3| 18.3| 23.2| 29.1| 30.8|
|             Africa |  0.0|  0.0|  0.0|  0.0|  0.0|  0.0|  0.0|
|       North Africa |  8.4|  7.3| 10.2| 13.9| 19.7| 20.4| 18.0|
|  Subsaharan Africa |  6.4| 11.5| 16.0| 20.9| 30.7| 34.9| 35.4|
|        Middle East |  9.6| 12.7| 22.4| 33.7| 54.7| 52.4| 53.3|
+--------------------+-----+-----+-----+-----+-----+-----+-----+

In [61]:
df.withColumn("nea_1990", \
              when((df["1990"]== 0) & (df["Region"] == 'Europe '),259).otherwise(df["1990"])).show()
# auti einai i lisi kai opou 259 tha valw to apo panw cell me .select(col(1990)).collect()[]

In [13]:
# auto einai to row me ta sum gia oles tis xronies gia ekeines Region pou periexoun to Europe sto onoma!
df.filter(col("Region").contains('Europe')).groupby().sum().collect()[0]

Row(sum(1990)=259, sum(1995)=303, sum(2000)=384, sum(2005)=451, sum(2010)=487, sum(2014)=578, sum(2015)=606)

In [62]:
# erotima 1
sum_Europe_1990 = df.filter(col("Region").contains('Europe')).groupby().sum().collect()[0][0]
df.withColumn("1990", \
              when((df["1990"]== 0) & (df["Region"] == 'Europe '),sum_Europe_1990).otherwise(df["1990"])).show()

In [ ]:
sum_Europe_1995 = df.filter(col("Region").contains('Europe')).groupby().sum().collect()[0][1] # 1995
sum_Europe_2000 = df.filter(col("Region").contains('Europe')).groupby().sum().collect()[0][2] # 2000
sum_Europe_2005 = df.filter(col("Region").contains('Europe')).groupby().sum().collect()[0][3] # 2005
sum_Europe_2010 = df.filter(col("Region").contains('Europe')).groupby().sum().collect()[0][4] # 2010
sum_Europe_2014 = df.filter(col("Region").contains('Europe')).groupby().sum().collect()[0][5] # 2014
sum_Europe_2015 = df.filter(col("Region").contains('Europe')).groupby().sum().collect()[0][6] # 2015

# kai kanw to apo panw query gia kathe xronio!!!
df.withColumn("1995", \
              when((df["1995"]== 0) & (df["Region"] == 'Europe '),sum_Europe_1995).otherwise(df["1995"])).show()

In [37]:
# erotima 1 gia America me asDict
row_of_america_sum = df.filter((col("Region").contains('America')) | col("Region").contains('Caribbean')).groupby().sum().collect()[0].asDict()
row_of_america_sum

{'sum(1990)': 92.80000245571136,
 'sum(1995)': 108.7999997138977,
 'sum(2000)': 128.20000076293945,
 'sum(2005)': 133.30000019073486,
 'sum(2010)': 150.10000085830688,
 'sum(2014)': 181.9000015258789,
 'sum(2015)': 192.59999752044678}

In [63]:
# analytika ginetai etsi!!
df.withColumn("1990", \
              when((df["1990"]== 0) & (df["Region"] == 'Americas '),row_of_america_sum['sum(1990)']).otherwise(df["1990"])).show()
df.withColumn("1995", \
              when((df["1995"]== 0) & (df["Region"] == 'Americas '),row_of_america_sum['sum(1995)']).otherwise(df["1995"])).show()
df.withColumn("2000", \
              when((df["2000"]== 0) & (df["Region"] == 'Americas '),row_of_america_sum['sum(2000)']).otherwise(df["2000"])).show()
df.withColumn("2005", \
              when((df["2005"]== 0) & (df["Region"] == 'Americas '),row_of_america_sum['sum(2005)']).otherwise(df["2005"])).show()
df.withColumn("2010", \
              when((df["2010"]== 0) & (df["Region"] == 'Americas '),row_of_america_sum['sum(2010)']).otherwise(df["2010"])).show()
df.withColumn("2014", \
              when((df["2014"]== 0) & (df["Region"] == 'Americas '),row_of_america_sum['sum(2014)']).otherwise(df["2014"])).show()
df.withColumn("2015", \
              when((df["2015"]== 0) & (df["Region"] == 'Americas '),row_of_america_sum['sum(2015)']).otherwise(df["2015"])).show()

In [59]:
from pyspark.sql.functions import *
# Europe
# pairnw san Dict to row me ta sum gia oles tis xronies, gia ekeines Region pou periexoun to Europe sto onoma!
# to dict exei ti morfi {sum(1990):timi,sum(1995):timi} 
# opou to sum afora tis perioxes pou exoun to Europe sto onoma
row_of_europe_sum = df.filter(col('Region').contains('Europe')).groupby().sum().collect()[0].asDict()
for year in df.columns[1:]:
#     dimiourgw to antistoixo kleidi sto dict gia ti xronia pou diatrexoume: p.x. sum(1990)
    sum_row_dict_key = f'sum({year})'
# antikathistw tin antistoixi stili tis xronias pou diatrexw me mia nea stili pou periexei
# to antistoixo athroisma apo to Dict gia tis Region pou zitountai, dld antikathistw ta 0 me ta sum tis kathe perioxis
# enw gia tis ipoloipes times den thelw na tis allaksw kai xrisimopoiw tis idies times tis stillis me prin 
    df = df.withColumn(year,\
                      when((df[year]==0) & (df['Region']=='Europe '),row_of_europe_sum[sum_row_dict_key]).otherwise(df[year]))

In [60]:
# Americas
# pairnw san Dict to row me ta sum gia oles tis xronies, gia ekeines Region pou periexoun to America h to Caribbean sto onoma!
# to dict exei ti morfi {sum(1990):timi,sum(1995):timi} 
# opou to sum afora tis perioxes pou exoun to America i Caribbean sto onoma
row_of_america_sum = df.filter((col("Region").contains('America')) | col("Region").contains('Caribbean')).groupby().sum().collect()[0].asDict()
row_of_america_sum
# diatrexw gia kathe xronia 1990-2015
for year in df.columns[1:]: # xronies 1990-2015
#     dimiourgw to antistoixo kleidi sto Dict gia ti xronia pou diatrexoume: sum(1990),sum(1995) kok
    sum_row_dict_key = f'sum({year})' # kleidia sum(1990) kok gia to Dict..
# antikathistw tin antistoixi stili tis xronias pou diatrexw me mia nea stili pou periexei
# to antistoixo athroisma apo to Dict gia tis Region pou zitountai, dld antikathistw ta 0 me ta sum tis kathe perioxis
# enw gia tis ipoloipes times den thelw na tis allaksw kai xrisimopoiw tis idies times tis stillis me prin 
    df = df.withColumn(year, \
              when((df[year]== 0) & (df["Region"] == 'Americas '),row_of_america_sum[sum_row_dict_key]).otherwise(df[year]))

In [61]:
# Africa
# pairnw san Dict to row me ta sum gia oles tis xronies, gia ekeines Region pou periexoun to Africa sto onoma!
# to dict exei ti morfi {sum(1990):timi,sum(1995):timi} 
# opou to sum afora tis perioxes pou exoun to Africa sto onoma
row_of_africa_sum = df.filter(col("Region").contains('Africa')).groupby().sum().collect()[0].asDict()
row_of_africa_sum
for year in df.columns[1:]:
    #     dimiourgw to antistoixo kleidi sto Dict gia ti xronia pou diatrexoume: sum(1990),sum(1995) kok
    sum_row_dict_key = f'sum({year})' # kleidia sum(1990) kok gia to Dict..
# antikathistw tin antistoixi stili tis xronias pou diatrexw me mia nea stili pou periexei
# to antistoixo athroisma apo to Dict gia tis Region pou zitountai, dld antikathistw ta 0 me ta sum tis kathe perioxis
# enw gia tis ipoloipes times den thelw na tis allaksw kai xrisimopoiw tis idies times tis stillis me prin
    df = df.withColumn(year, \
              when((df[year]== 0) & (df["Region"] == 'Africa '),row_of_africa_sum[sum_row_dict_key]).otherwise(df[year]))

In [62]:
# Asia
# pairnw san Dict to row me ta sum gia oles tis xronies, gia ekeines Region pou periexoun to Asia h Oceania sto onoma!
# to dict exei ti morfi {sum(1990):timi,sum(1995):timi} 
# opou to sum afora tis perioxes pou exoun to Asia h Oceania sto onoma
row_of_asia_sum = df.filter((col("Region").contains('Asia')) | (col("Region").contains('Oceania'))).groupby().sum().collect()[0].asDict()
row_of_asia_sum
for year in df.columns[1:]:
#     dimiourgw to kleidi sto dict gia ti xronia pou diatrexoume: p.x. sum(1990)
    sum_row_dict_key = f'sum({year})'
# antikathistw tin antistoixi stili tis xronias pou diatrexw me mia nea stili pou periexei
# to antistoixo athroisma apo to Dict gia tis Region pou zitountai, dld antikathistw ta 0 me ta sum tis kathe perioxis
# enw gia tis ipoloipes times den thelw na tis allaksw kai xrisimopoiw tis idies times tis stillis me prin  
    df = df.withColumn(year, \
              when((df[year]== 0) & (df["Region"] == 'Asia and the Pacific '),row_of_asia_sum[sum_row_dict_key]).otherwise(df[year]))

In [ ]:
# pleon to dataframe df exei oles tis zitoumenes times simblirwmenes
df.show()

In [63]:
row_of_africa_sum

{'sum(1990)': 14.799999713897705,
 'sum(1995)': 18.800000190734863,
 'sum(2000)': 26.199999809265137,
 'sum(2005)': 34.79999923706055,
 'sum(2010)': 50.400001525878906,
 'sum(2014)': 55.30000114440918,
 'sum(2015)': 53.400001525878906}

In [64]:
df.select(col('1990')).show()

+------------------+
|              1990|
+------------------+
|261.50000381469727|
|28.700000762939453|
| 108.5999984741211|
|33.900001525878906|
| 90.30000305175781|
| 56.00000023841858|
|26.399999618530273|
|21.200000762939453|
| 5.199999809265137|
| 3.200000047683716|
| 92.80000245571136|
| 71.80000305175781|
|11.399999618530273|
| 1.899999976158142|
| 7.699999809265137|
|14.799999713897705|
| 8.399999618530273|
| 6.400000095367432|
| 9.600000381469727|
+------------------+

In [66]:
df.select(col('Region'),col('1990'),col('1995'),col('2000')).show()

+--------------------+------------------+------------------+------------------+
|              Region|              1990|              1995|              2000|
+--------------------+------------------+------------------+------------------+
|             Europe |261.50000381469727|             304.5|386.70000076293945|
|    Northern Europe |28.700000762939453|36.400001525878906| 44.79999923706055|
|     Western Europe | 108.5999984741211|112.19999694824219| 139.6999969482422|
|Central/Eastern E...|33.900001525878906|57.900001525878906|  69.5999984741211|
|Southern/Medit. E...| 90.30000305175781|              98.0|132.60000610351562|
|Asia and the Paci...| 56.00000023841858| 82.09999942779541|110.29999876022339|
|    North-East Asia |26.399999618530273| 41.29999923706055| 58.29999923706055|
|    South-East Asia |21.200000762939453|              28.5| 36.29999923706055|
|            Oceania | 5.199999809265137| 8.100000381469727| 9.600000381469727|
|         South Asia | 3.200000047683716| 4.199999809265137| 6.099999904632568|
|           Americas | 92.80000245571136| 108.7999997138977|128.20000076293945|
|      North America | 71.80000305175781|              80.5|              91.5|
|          Caribbean |11.399999618530273|              14.0|17.100000381469727|
|    Central America | 1.899999976158142|2.5999999046325684| 4.300000190734863|
|      South America | 7.699999809265137|11.699999809265137|15.300000190734863|
|             Africa |14.799999713897705|18.800000190734863|26.199999809265137|
|       North Africa | 8.399999618530273| 7.300000190734863|10.199999809265137|
|  Subsaharan Africa | 6.400000095367432|              11.5|              16.0|
|        Middle East | 9.600000381469727|12.699999809265137|22.399999618530273|
+--------------------+------------------+------------------+------------------+

In [16]:
# erotima 2
# prosthetw sto dataframe tis stilles tis metavolis
# gia to pososto pairnw ti diafora dio stilwn(metagenester-prohgoumeni) kai diairw me ti timi tis metagenesteris!
df = df.withColumn('posostiaia_metavoli_90-95',(col('1995')-col('1990'))/col('1995')*100)
df = df.withColumn('posostiaia_metavoli_95-2000', (col('2000')-col('1995'))/col('2000')*100)
df = df.withColumn('posostiaia_metavoli_2000-2005', (col('2005')-col('2000'))/col('2005')*100)
df = df.withColumn('posostiaia_metavoli_2005-2010', (col('2010')-col('2005'))/col('2010')*100)
df = df.withColumn('posostiaia_metavoli_2010-2014', (col('2014')-col('2010'))/col('2014')*100)
df = df.withColumn('posostiaia_metavoli_2014-2015', (col('2015')-col('2014'))/col('2015')*100)
df.show()

In [69]:
# erotima 2 xwris polles entoles apla me ena vroxo
import copy
# i proti xronia 1990
prev_year = df.columns[1]
print(f'Eksw apo to vroxo : {prev_year}')
# gia kathe xronia apo to 1995 kai meta
for current_year in df.columns[2:]:
#     prosthetw sto dataframe ti stili me ti posostiaia metavoli
# gia to pososto pairnw ti diafora (metagenesteri-prohgoumeni) kai diairw me ti timi tis metagenesteris
    df = df.withColumn(f'posostiaia_metavoli_{prev_year}-{current_year}',(col(current_year)-col(prev_year))/col(current_year)*100)
#   pleon i prohgoumeni xronia ginetai isi me ti trexousa (apo 1990-1995 pame se 1995-2000 kok)
    prev_year = current_year

Eksw apo to vroxo : 1990

In [71]:
df.select('posostiaia_metavoli_1990-1995').show()

+-----------------------------+
|posostiaia_metavoli_1990-1995|
+-----------------------------+
|           14.121509420460669|
|           21.153847363069666|
|           3.2085548770395884|
|            41.45077610969145|
|            7.857139743104273|
|           31.790498625193088|
|           36.077481583001486|
|           25.614032410738762|
|            35.80247451393813|
|            23.80951921415416|
|           14.705879871562683|
|           10.807449625145575|
|            18.57143129621233|
|            26.92307515962583|
|             34.1880347453718|
|           21.276598065187596|
|          -15.068484918555564|
|            44.34782525767451|
|           24.409444679942766|
+-----------------------------+

In [ ]:
df.select(col('posostiaia_metavoli_1990-1995'),col('posostiaia_metavoli_1995-2000'),col('posostiaia_metavoli_2000-2005'),col('posostiaia_metavoli_2005-2010'),col('posostiaia_metavoli_2010-2014'),col('posostiaia_metavoli_2014-2015')).show()